@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TTLakes"),
        /* Если не получилось, загрузит woff2 */
        url("../fonts/TTLakes-Bold.ttf") format("ttf"),
        /* Если браузер не поддерживает woff2, загрузит woff */
        url("../fonts/TTLakes-Bold.woff") format("woff");
}

@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 500;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TTLakes"),
        /* Если не получилось, загрузит woff2 */
        url("../fonts/TTLakes-Medium.ttf") format("ttf"),
        /* Если браузер не поддерживает woff2, загрузит woff */
        url("../fonts/TTLakes-Medium.woff") format("woff");
}

@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TTLakes"),
        /* Если не получилось, загрузит woff2 */
        url("../fonts/TTLakes-Regular.ttf") format("ttf"),
        /* Если браузер не поддерживает woff2, загрузит woff */
        url("../fonts/TTLakes-Regular.woff") format("woff");
}


$colorWhite: #fff;
$indentation320px: 16px;
$indentation768px: 24px;
$indentation1440px: 32px;
$colorButton: #FF3E79;
$widthButton: 40px;
$heightButton: 40px;
$colorTextBasic: #1B1C21;
$colorTextDop: #7E7E82;


* {
    box-sizing: border-box;
}

body {
    font-family: "TTLakes";

    &.hide {
        overflow: hidden;
    }

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
    font-family: inherit;
    background-color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 $indentation320px;

    @media (min-width:768px) {
        padding: 0 $indentation768px;
    }

    @media (min-width:1440px) {
        padding: 0 $indentation1440px;
    }
}

.show-more {

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    transition: all 0.3s ease-in;
    &::before {
        content: "";
        display: inline-block;
        width: 7.41px;
        height: 10.29px;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
        margin: 0 16px 0 7px;
        transition: all 0.3s ease-in;
    }

    &.rotate::before {
        transform: rotate(180deg);
    }
    @media(min-width:1440px) {
        &:hover {
            opacity: 0.8;
            transform: scale(1.1);
        }
    }

    
}

@import"burger.scss";
@import"icons.scss"