.popup {

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.96);
    top: 0;
    z-index: 2;

    transform: translate(100%);
    opacity: 0;
    transition: opacity 1s ease 0s, transform 0s ease 1.1s;

    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }


    &.open {
        
        opacity: 1;
        transform: translate(0);
        transition: opacity 1s ease 0s, transform 0s ease 0s;
    }

    &__body {
        
        min-height: 100%;
        display: flex;
        @media (min-width:768px) {
            justify-content: flex-end;
        }
    }

    &__content {

        position: relative;
        min-height: 100%;
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
        background-color: $colorWhite;

        @media (min-width:768px) {
            width: 320px;

        }

        @media (min-width:1440px) {
            width: 440px;

        }
    }

    &__button-close {
        padding: 0;
        margin-top: 24px;
        width: $widthButton;
        height: $heightButton;

        border-radius: 50%;
        background-color: $colorButton;


        &::before,
        &::after {
            content: "";
            display: block;
            height: 2px;
            background-color: $colorWhite;
            margin-left: 9px;
        }

        &::before {
            width: 21.73px;
            transform: translateY(1.5px) rotate(-45deg);
        }

        &::after {
            width: 21.73px;
            transform: rotate(45deg);
        }

        @media (min-width:768px) {
            position: absolute;
            top: 15px;
            left: -70px;
        }

        @media(min-width:1440px) {
            transition: box-shadow 0.3s ease, transform 0.3s ease;

            &:hover {
                box-shadow: 0px 0px 11px 0px rgba(255, 62, 121, 0.6);
                transform: scale(1.1);
            }
        }
    }

    &__tittle {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;

        letter-spacing: -0.6px;
        color: colorTextBasic;
        margin-top: 40px;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0px;
            width: 4px;
            height: 40px;
            background-color: #41F6D7;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    &__form {
        padding: 24px 0;
    }
}


.form-popup {
    display: flex;
    flex-direction: column;
    row-gap: 16px;


    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;

    &__element {
        background: $colorWhite;
        border: 1px solid #EAEAEA;
        border-radius: 8px;
        padding: 12px 16px;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px #EAEAEA;
        }

        &::-webkit-input-placeholder {
            color: #B5B6BC;
        }

        &:-moz-placeholder {
            color: #B5B6BC;
        }
    }


    &__text {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        color: #7E7E82;
    }

    &__allotted-text {
        color: $colorButton;
    }

    &__button {
        background: $colorButton;
        border-radius: 16px;
        width: 136px;
        height: 32px;

        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.15px;
        color: $colorWhite;

        text-transform: uppercase;
        align-self: flex-end;
        transition: all 0.3s ease-in;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(255, 62, 121, 0.6);
        }

        &::after {
            content: "";
            display: inline-block;
            width: 5px;
            height: 5px;
            border-top: 2.5px solid $colorWhite;
            border-right: 2.5px solid $colorWhite;
            transform: rotate(45deg);

            margin-left: 10px;
        }

        @media(min-width:1440px) {
            transition: box-shadow 0.3s ease, transform 0.3s ease;

            &:hover {
                box-shadow: 0px 0px 11px 0px rgba(255, 62, 121, 0.6);
                transform: scale(1.1);
            }
        }
    }
}